<div class="profile__details profile__details--edit">

    <form [formGroup]="perfilForm" (ngSubmit)="updatePerfil(perfilForm.value)" novalidate>

        <div class="profile__detail profile__detail--edit" *ngIf="currentUser.extra_field1.enabled">
            <label for="" class="profile__form-label">{{ currentUser.extra_field1.label}}</label>
            <input formControlName='extra_field1' type="text" class="profile__job--input">
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__detail profile__detail--edit" *ngIf="currentUser.extra_field2.enabled">
            <label for="" class="profile__form-label">{{ currentUser.extra_field2.label}}</label>
            <input formControlName='extra_field2' type="text" class="profile__job--input">
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__detail profile__detail--edit" *ngIf="currentUser.extra_field3.enabled">
            <label for="" class="profile__form-label">{{ currentUser.extra_field3.label}}</label>
            <input formControlName='extra_field3' type="text" class="profile__job--input">
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__detail profile__detail--edit" *ngIf="currentUser.extra_field4.enabled">
            <label for="" class="profile__form-label">{{ currentUser.extra_field4.label}}</label>
            <input formControlName='extra_field4' type="text" class="profile__job--input">
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__detail profile__detail--edit" *ngIf="currentUser.extra_field5.enabled">
            <label for="" class="profile__form-label">{{ currentUser.extra_field5.label}}</label>
            <input formControlName='extra_field5' type="text" class="profile__job--input">
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__description profile__detail--edit">
            <label for="" class="profile__form-label">Biografia</label>
            <textarea formControlName='bio' id="" cols="30" rows="10" class="profile__description--input"></textarea>
            <span class="profile__icon icon-edit"></span>
        </div>

        <div class="profile__detail">
            <button
                [disabled]="!perfilForm.valid"
                type="submit"
                class="profile__control profile__control--save">
                Salvar <i class="fa fa-refresh fa-spin fa-lg fa-fw" *ngIf="spinner"></i>
            </button>
            <a (click)="back()" class="profile__control profile__control--cancel">{{ buttonName }}</a>
        </div>
    </form>
</div>

