<div class="contact">
    <div class="contact__container">
        <div class="contact__content">
            <div class="contact__title">
               Mensagem de resposta
            </div>

            <form [formGroup]="form" (ngSubmit)="saveMessage(form.value)" class="contact__form">

                <div class="contact__item">
                    <textarea formControlName="message" name="" id="" cols="30" rows="10" class="contact__textarea" placeholder="Mensagem"></textarea>
                </div>

                <div class="contact__control">
                    <button [disabled]="!form.valid || sending" type="submit" class="contact__button">
                        <span *ngIf="sending"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i> </span>
                        <span *ngIf="!sending">Enviar</span>
                        <span *ngIf="sending">Enviando</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<p-growl [value]="msgs"></p-growl>
