
<div class="profile">
    <div class="profile__container">

        <div class="profile__image">
            <div class="profile__bg" [ngStyle]="{ 'background-image' : 'url(\'' + perfil.user_background_url + '\')' }">
                <div style="text-align: left">
                    <div (click)="bgModal.show()" class="profile__bg-edit glyphicon glyphicon-camera" style="text-align: left; padding-top: 4px; padding-left: 4px; font-size: 28px">
                        <div class="profile__avatar-label">
                            Editar fotos
                        </div>
                    </div>
                </div>

                <div class="profile__avatar-container">
                    <img src="{{ perfil.user_photo_url }}" alt="" class="profile__avatar">
                    <div (click)="myModal.show()" class="profile__avatar-edit glyphicon glyphicon-camera" style="padding-top: 4px; font-size: 28px">
                        <div class="profile__avatar-label">
                            Alterar Foto
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>

        <div class="profile__controls">
            <div class="profile__controls-container">
                <a [routerLink]="['changePass']" class="profile__control">Trocar senha</a>
                <a (click)="logout()" class="profile__control profile__control--cancel">Sair</a>
            </div>
        </div>

    </div>
</div>

<p-growl [value]="msgs"></p-growl>

<div #myModal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Alterar Foto de Perfil</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="myModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
        <p-fileUpload
            name="file"
            [url]="urlUpload"
            (onUpload)="onUpload($event)"
            (onBeforeSend)="onBeforeSend($event)"
            (onError)="onError($event)"
            maxFileSize="2000000"
            chooseLabel="Escolher imagem"
            uploadLabel="Enviar"
            [showCancelButton]="false"
            styleClass=""
            accept="image/*">

            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>

        </p-fileUpload>

      </div>
    </div>
  </div>
</div>


<div #bgModal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Alterar Imagem de Fundo</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="bgModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p-fileUpload
                    name="file"
                    [url]="urlUpload"
                    (onUpload)="onUploadBg($event)"
                    (onBeforeSend)="onBeforeSendBg($event)"
                    (onError)="onError($event)"
                    maxFileSize="2000000"
                    chooseLabel="Escolher imagem"
                    uploadLabel="Enviar"
                    [showCancelButton]="false"
                    styleClass=""
                    accept="image/*">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>

            </div>
        </div>
    </div>
</div>
