
<div class="profile__details">
    <div class="profile__name">{{ perfil.name }}</div>
    <div class="profile__job" *ngIf="perfil.extra_field1.enabled">{{ perfil.extra_field1.label }}: {{ perfil.extra_field1.value }}</div>
    <div class="profile__detail" *ngIf="perfil.extra_field2.enabled">{{ perfil.extra_field2.label }}: {{ perfil.extra_field2.value }}</div>
    <div class="profile__detail" *ngIf="perfil.extra_field3.enabled">{{ perfil.extra_field3.label }}: {{ perfil.extra_field3.value }}</div>
    <div class="profile__detail" *ngIf="perfil.extra_field4.enabled">{{ perfil.extra_field4.label }}: {{ perfil.extra_field4.value }}</div>
    <div class="profile__detail" *ngIf="perfil.extra_field5.enabled">{{ perfil.extra_field5.label }}: {{ perfil.extra_field5.value }}</div>
    <div class="profile__detail" >Telefone: {{ perfil.phone }}</div>
    <div class="profile__detail">
        <a class="profile__detail profile__detail--link">Email: {{ perfil.email }}</a>
    </div>
    <div class="profile__detail">
        <a [routerLink]="['edit']" class="profile__edit"><span class="profile__icon icon-edit"></span> Editar detalhes</a>
    </div>
    <div class="profile__description">
        {{ perfil.bio }}
    </div>
</div>
