@charset "UTF-8";

@font-face {
  font-family: "b2";
  src:url("fonts/b2.eot");
  src:url("fonts/b2.eot?#iefix") format("embedded-opentype"),
    url("fonts/b2.woff") format("woff"),
    url("fonts/b2.ttf") format("truetype"),
    url("fonts/b2.svg#b2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "b2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "b2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\61";
}
.icon-change-photo:before {
  content: "\62";
}
.icon-comment:before {
  content: "\63";
}
.icon-forum-post:before {
  content: "\64";
}
.icon-forum-sections:before {
  content: "\65";
}
.icon-heart:before {
  content: "\66";
}
.icon-lupa:before {
  content: "\67";
}
.icon-reply-left:before {
  content: "\68";
}
.icon-reply-right:before {
  content: "\69";
}
.icon-share:before {
  content: "\6a";
}
.icon-view:before {
  content: "\6b";
}
.icon-right:before {
  content: "\6c";
}
.icon-calendar:before {
  content: "\6d";
}
.icon-chat:before {
  content: "\6e";
}
.icon-edit:before {
  content: "\6f";
}
.icon-circle:before {
  content: "\70";
}
.icon-feed:before {
  content: "\71";
}
.icon-forum:before {
  content: "\72";
}
.icon-time:before {
  content: "\73";
}
.icon-news:before {
  content: "\74";
}
.icon-notread:before {
  content: "\75";
}
.icon-triangle:before {
  content: "\76";
}
.icon-menu:before {
  content: "\77";
}
.icon-address:before {
  content: "\78";
}
.icon-contact:before {
  content: "\79";
}
.icon-menu-1:before {
  content: "\7a";
}
