<div *ngFor="let resource of resources" class="row">
    <div class="col-sm-4 resource__item__img " [ngStyle]="{ 'background-image' : 'url(\'' + resource.photo_url + '\')' }"></div>
    <div class="col-sm-8">
        <div style="margin-bottom: 8px">
            <a class="feed__title" [routerLink]="['/resource/reserve', resource.id]">
                {{ resource.name }}
            </a>
        </div>

        <div class="feed__item__date">
            <h5>Disponibilidade</h5>
            <ul>
                <li *ngFor="let schedule of resource.schedule">
                    {{ this.pt.dayNames[schedule.weekday]}} das
                    <strong>{{ schedule.start_time.substr(0, schedule.start_time.length -3) }}</strong>
                    às <strong>{{ schedule.finish_time.substr(0, schedule.finish_time.length -3) }}</strong>
                </li>
            </ul>
        </div>

        <div style="margin-top: 8px;">
            <a class="btn btn-primary" [routerLink]="['/resource/reserve', resource.id]">Reservar</a>
        </div>
    </div>
</div>
