<div class="notification" [ngClass]="{'notification--open' : show }">
    <a class="notification__item notification__item--mark-read" (click)="markAllRead()">
        Marcar todas como lidas
    </a>
    <a
        *ngFor="let notification of notifications"
        [ngClass]="{ 'notification__item--unread': !notification.read_date }"
        (click)="openNotification(notification)"
        class="notification__item">
        <span class="notification__icon icon-{{ notification.type }}"></span>
        {{ notification.description.body }}
    </a>
</div>
