<nav class="navbar navbar-default menu-bar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ logoUrl }}" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav menu-bar-main">
            <!-- Home -->
            <li>
                <a (click)="openMenu('home')" [routerLink]="['/home']" [ngClass]="{'active' : currentMenu == 'home' }">
                    {{ mainMenu.feed_caption }}
                </a>
            </li>

            <!-- Notícias -->
            <li>
                <a (click)="openMenu('news')" [ngClass]="{'active' : currentMenu == 'news' }">
                    {{ mainMenu.news_caption }}
                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true" *ngIf="currentMenu != 'news'"></span>
                    <span class="navigation__icon navigation__icon--small glyphicon glyphicon-triangle-bottom"
                        aria-hidden="true" *ngIf="currentMenu == 'news'"></span>
                </a>
            </li>

            <!-- Custom Menus -->
            <li *ngFor="let menu of mainMenu.menus">
                <a (click)="openMenu(menu.id)" [ngClass]="{'active' : currentMenu == menu.id }" *ngIf="menu.pages || menu.submenus">
                    {{ menu.name }}
                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true" *ngIf="currentMenu != menu.id"></span>
                    <span class="navigation__icon navigation__icon--small glyphicon glyphicon-triangle-bottom"
                        aria-hidden="true" *ngIf="currentMenu == menu.id"></span>
                </a>
            </li>

            <!-- Eventos -->
            <li *ngIf="mainMenu.events_enabled">
                <a (click)="openMenu('calendar')" [routerLink]="['/calendar']" [ngClass]="{'active' : currentMenu == 'calendar' }">
                    {{ mainMenu.events_caption }}
                </a>
            </li>

            <!-- Recursos -->
            <li *ngIf="mainMenu.resources_enabled">
                <a (click)="openMenu('resource')" [ngClass]="{'active' : currentMenu == 'resource' }">
                    {{ mainMenu.resources_caption }}
                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true" *ngIf="currentMenu != 'resource'"></span>
                    <span class="navigation__icon navigation__icon--small glyphicon glyphicon-triangle-bottom"
                        aria-hidden="true" *ngIf="currentMenu == 'resource'"></span>
                </a>
            </li>

            <!-- Contato -->
            <li *ngIf="mainMenu.message_enabled">
                <a (click)="openMenu('contactus')" [ngClass]="{'active' : currentMenu == 'contactus' }">
                    {{ mainMenu.message_caption }}
                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true" *ngIf="currentMenu != 'contactus'"></span>
                    <span class="navigation__icon navigation__icon--small glyphicon glyphicon-triangle-bottom"
                        aria-hidden="true" *ngIf="currentMenu == 'contactus'"></span>
                </a>
            </li>

            <!-- Sugestões -->
            <li *ngIf="mainMenu.suggestion_enabled">
                <a (click)="openMenu('suggestion')" [routerLink]="['/contactus/suggestion']" [ngClass]="{'active' : currentMenu == 'suggestion' }">
                    {{ mainMenu.suggestion_caption }}
                </a>
            </li>

            <li *ngIf="mainMenu.terms_enabled">
                <a (click)="openMenu('terms')" [routerLink]="['/terms']" [ngClass]="{'active' : currentMenu == 'terms' }">
                    {{ mainMenu.terms_caption }}
                </a>
            </li>

            <li *ngIf="mainMenu.about_enabled">
                <a (click)="openMenu('about')" [routerLink]="['/about']" [ngClass]="{'active' : currentMenu == 'about' }">
                    {{ mainMenu.about_caption }}
                </a>
            </li>
            <!-- Eventos -->
            <li *ngIf="mainMenu.contacts_enabled">
                <a (click)="showContList=!showContList" [ngClass]="{'active' : currentMenu == 'contactlist' }">
                    {{ mainMenu.contacts_caption }}
                </a>
            </li>
            <li (click)="searchEnabled = true" class="searchCont">
                <!-- *ngIf="!searchEnabled" -->
                <a><img src="assets/img/searchWhite.png" alt="search" /></a>
            </li>
            <!-- <li class="searchCont" (click)="brazil('pt-BR')">
                <a><img src="assets/img/flagBrazil.png" width="30" alt="search" /></a>
            </li>
            <li class="searchCont" (click)="usenglish('en-US')">
                <a><img src="assets/img/flagUs.png" width="30" alt="search" /></a>
            </li>
            <li class="searchCont" (click)="spain('es')">
                <a><img src="assets/img/flagSpain.png" width="30" alt="search" /></a>
            </li> -->

            <div *ngIf="searchEnabled" class="searchBar">
                <input class="searchField" [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="searchOverallData(searchText)">
                <img class="searchIcon" src="assets/img/searchBlack.png" alt="search" />
                <a (click)="searchEnabled = false" (click)="clearSearch()" class="closeIcon"><img src="assets/img/closeRed.png" /></a>

                <div class="searchResults" *ngIf="searchText && overallSearch.length > 0">
                    <div class="searchResSec" *ngFor="let category of overallSearch">
                        <!--  repeater -->
                        <h5>{{category.categoryName}}</h5>
                        <ul *ngIf="category.data.length > 0" class="{{category.categoryName}}">
                            <li *ngFor="let data of category.data | slice:0:category.endLimit ; let i = index;">
                                <a (click)="searchRouting(category.categoryName,data);clearSearch()">{{data.title ?
                                    data.title : data.name}}</a></li>
                        </ul>
                        <a class="viewall" style="color:#0f78f0; font-size:14px;" *ngIf="category.data.length > 3 
                            && (category.endLimit < category.data.length)"
                            (click)="category.endLimit = category.data.length">View all({{category.data.length-3}})</a>
                    </div>

                </div>
            </div>
            <div *ngIf="showContPop" class="contPopup">

                <div class="innerBox">
                    <div (click)="showContPop = false" class="closePopup">
                        <a href=""><img src="assets/img/cancelblack.png" /></a>
                    </div>
                    <div class="ProfileImage">
                        <!-- <img *ngIf ="contact.picture_id != null" src="assets/img/navigation__avatar.png"/> -->
                        <img src="assets/img/profile.png" />
                    </div>
                    <h3>{{contact.name}}</h3>
                    <p>{{contact.username}}</p>
                    <p>{{contact.email}}</p>
                </div>
            </div>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a [routerLink]="['/perfil', userInfo.id ]">
                    <img class="navigation__avatar" src="{{ userInfo.user_photo_url }}">
                </a>
            </li>

            <li>
                <a class="menu__notification">
                    <div class="menu__notification-number" (click)="notificationOpen = !notificationOpen">
                        {{ unreadCount }}
                    </div>
                </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->

    <div class="menu-bar-sub" [ngClass]="{'collapse' : currentMenu != 'resource' }">
        <span>
            <a [routerLink]="['/resource']" [routerLinkActive]="'active'" (click)="currentMenu = null" class="menu-bar-sub-link">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.resource_reservation_icon_url }}" />
                </span>
                {{ mainMenu.resource_reservation_caption }}
            </a>
        </span>

        <span>
            <a [routerLink]="['/resource/my-reservations']" [routerLinkActive]="'active'" (click)="currentMenu = null"
                class="menu-bar-sub-link">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.my_reservations_icon_url }}" />
                </span>
                {{ mainMenu.my_reservations_caption }}
            </a>
        </span>

    </div>

    <div class="menu-bar-sub" [ngClass]="{'collapse' : currentMenu != 'contactus' }">
        <span>
            <a [routerLink]="['/contactus']" [routerLinkActive]="'active'" (click)="currentMenu = null" class="menu-bar-sub-link">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.new_message_icon_url }}" />
                </span>
                {{ mainMenu.message_new_caption }}
            </a>
        </span>

        <span>
            <a [routerLink]="['/contactus/my-messages']" [routerLinkActive]="'active'" (click)="currentMenu = null"
                class="menu-bar-sub-link">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.history_message_icon_url }}" />
                </span>
                {{ mainMenu.message_list_caption }}
            </a>
        </span>

    </div>

    <div class="menu-bar-sub" [ngClass]="{'collapse' : currentMenu != 'news' }">
        <span *ngFor="let category of mainMenu.categories">
            <a *ngIf="!category.children || category.children.length == 0" [routerLink]="['/news/category', category.id]"
                [routerLinkActive]="'active'" (click)="currentMenu = null" class="menu-bar-sub-link">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ category.icon_url }}" />
                </span>
                {{ category.name }}
            </a>

            <span *ngIf="category.children && category.children.length > 0" dropdown container="body">
                <a href dropdownToggle (click)="toggleSubCategory(category.id)" (onHidden)="currentSubCategory = null"
                    class="menu-bar-sub-link">
                    <span class="navigation__icon" aria-hidden="true">
                        <img src="{{ category.icon_url }}" />
                    </span>
                    {{ category.name }}

                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true" *ngIf="currentSubCategory != category.id"></span>
                    <span class="navigation__icon navigation__icon--small glyphicon glyphicon-triangle-bottom"
                        aria-hidden="true" *ngIf="currentSubCategory == category.id"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li *ngFor="let subCategory of category.children">
                        <a class="dropdown-item" [routerLink]="['/news/category', subCategory.id]" (click)="currentMenu = null; currentSubCategory = null;">
                            <span class="navigation__icon" aria-hidden="true">
                                <img src="{{ category.icon_url }}" />
                            </span>
                            {{subCategory.name}}
                        </a>
                    </li>
                </ul>
            </span>
        </span>
    </div>

    <div *ngFor="let menu of mainMenu.menus">
        <div class="menu-bar-sub" [ngClass]="{'collapse' : currentMenu != menu.id }">
            <span *ngFor="let page of menu.pages">
                <a [routerLink]="['/page/', page.slug]" [routerLinkActive]="'active'" (click)="currentMenu = null"
                    class="menu-bar-sub-link">
                    <span class="navigation__icon" aria-hidden="true">
                        <img src="{{ page.icon_url }}" />
                    </span>
                    {{ page.title }}
                </a>
            </span>
        </div>
    </div>

    <div class="contactListCont" *ngIf="showContList">
        <div class="clHeader">
            CONTACT LIST
            <a href="" (click)="showContList=false" class="closeContacts"><img src="assets/img/cancel.png" /></a>
        </div>
        <div class="searchBarCont">
            <input class="searchBox" [(ngModel)]="searchText1" placeholder="Search">
            <a href=""><img src="assets/img/searchBlack.png" width="18" alt="search" /></a>
        </div>
        <div class="contactLists">
            <div class="contactNames">
                <ul>
                    <li *ngFor="let contact of contactList  | orderBy :'name' 
                    | filter :searchText1 ;let i = index;"
                        id="{{(i > 0 && contact.name[0] != contactList[i-1].name[0]) ? 'index_'+contact.name[0] : ''}}">
                        <a class="cNames" (click)="showContacts(contact)">
                            <div class="profileImg">
                                {{contact.name[0]}}
                            </div>
                            <span>{{contact.name}}</span>
                        </a>
                        <span>
                            <a style="padding-top:7px; display:inline-block;">
                                <img src="assets/img/chat.png" width="18" alt="search" />
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="contactSort">
                <div class="alphabetLists">
                    <ul *ngFor="let letter of alphabets">
                        <li (click)="sliceList(letter);"><a>{{letter}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="showContPop" class="contPopup">

            <div class="innerBox">
                <div (click)="showContPop = false" class="closePopup">
                    <a href=""><img src="assets/img/cancelblack.png" /></a>
                </div>
                <div class="ProfileImage">
                    <img *ngIf="contact.picture_id != null" src="assets/img/navigation__avatar.png" />
                    <img *ngIf="contact.picture_id == null" src="assets/img/profile.png" />
                </div>
                <h3>{{contact.name}}</h3>
                <p>{{contact.username}}</p>
                <p>{{contact.email}}</p>
            </div>
        </div>
    </div>


</nav>
<app-notifications [notifications]="notifications" [show]="notificationOpen"></app-notifications>