.searchCont{
  position:relative;
  left: 20px;
}

.nav>li>a{
  padding: 10px 8px;
  font-size:17px;
}
.menu-bar{    height: 97px;}
.navbar > .container-fluid{padding-right:30px !important;}
.main {padding-top: 110px;}
 .searchBar{
  width:95%;
  height:50px;
  position:absolute;
  background-color:#FFFFFF;
  right:5%;
  top:-5px;
}
.navbar-default .navbar-nav > li > a{
  color: #fff !important;
}
.menu-bar {
  background-color: #002b6a !important;
 color: #ffffff !important;
}
.menu-bar-main{
  overflow:visible !important;
  left:10px;
}
 .searchBar .searchField{
  border:none;
  width:100%;
  height:50px;
  padding:2px 50px 0px;
  color:#000000 !important;
  font-size:16px;
}
.searchBar .searchIcon{
  position:absolute;
  left:16px;
  top:15px;
  height: 20px;
  width: 20px;
}
.searchBar .closeIcon{
  position:absolute;
  right:16px;
  top:16px;
  cursor:pointer;
}
.searchBar .searchResults{
  width:400px;
  height:500px;
  background-color:#FFFFFF;
  padding:15px;
  box-shadow:0px 4px 6px rgba(0,0,0,0.1);
  position:absolute;
  min-height:100px;
  left:0px;
  top:53px;
  overflow-y: scroll; 
}
.searchResSec:not(:first-child){
  padding-bottom:8px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  margin-bottom:8px;
}
.searchResSec:last-child{
  border-bottom: none !important;
}
.searchResults::-webkit-scrollbar {
  width: 6px;
}

.searchResults::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.searchResults::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.searchResSec h5{
  color:#000000;
  font-size:20px;
  font-weight: 600;
}
.searchResSec ul{
  padding:0px;
  margin:0px;
  list-style-type: none;
}
.searchResSec ul li a{
  font-size:18px;
  color:#000000;
  padding:3px 0px;
  display:inline-block;
  width:100%; 
}
.searchBar .closeIcon img{
  height: 16px;
  width: 16px;
}


.searchField::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:18px;
}
.searchField::-moz-placeholder { /* Firefox 19+ */
  font-size:18px;
}
.searchField:-ms-input-placeholder { /* IE 10+ */
  font-size:18px;
}
.searchFields:-moz-placeholder { /* Firefox 18- */
  font-size:18px;
}
.contPopup{
  position: absolute;
    left: 35%;
    background: #fff;
    color: #000;
    top: 200px;
    width: 45%;
    text-align: center;
    border: 5px solid #2fb8e9;
}
.closePopup{
  float: right;
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}
.searchResSec{
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgba(0,0,0,0.1) !important;
}
.searchResSec li a{
color: gray !important;
}
.NEWS li:before{
  content: "\f1ea";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 12px;
    padding-right: 0.5em;
    position: relative;
    top: 13px;
    left: 0px;
}
.searchResSec ul li a{
  /* margin-left: 25px; */
  padding-left: 20px;
}
.searchResSec ul li{
  line-height: 0.6 !important;
}
.searchResSec h5{
  margin-bottom: 0px !important;
}
.NEWS{
  margin-bottom: 9px !important;
}
.NOTIFICATION li:before{
  content: "\f0a2";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 12px;
    padding-right: 0.5em;
    position: relative;
    top: 13px;
    left: 0px;
}
.USERS li:before{
  content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 14px;
    padding-right: 0.5em;
    position: relative;
    top: 13px;
    left: 0px;
}
.EVENT li:before{
  content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 14px;
    padding-right: 0.5em;
    position: relative;
    top: 13px;
    left: 0px;
}
@media only screen and (min-width: 1920px) {
  .searchBar{
    width:92%;
    height:50px;
    position:absolute;
    background-color:#FFFFFF;
    right:8%;
    top:-5px;
  }
  .alphabetLists ul{
    line-height: 1 !important;
  }
  .alphabetLists{
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 1366px) {
  
  .alphabetLists ul{
    line-height: 0.8 !important;
  }
  .alphabetLists{
    margin-top: 0px !important;
  }
}

.contactListCont{
  width:300px;
  height:calc(100% - 96px);
  position:fixed;
  right:0px;
  background-color:#FFFFFF;
  top:96px;
  z-index:1000;
  box-shadow:0px -4px 10px rgba(0,0,0,0.1);
}

.clHeader{
  background-color:#343434;
  color:#FFFFFF;
  font-size:16px;
  padding:8px 15px;
}

.contactListCont .searchBox{
  width:100%;
  padding:10px 15px;
  background-color:#F0F0F0;
  color:#666666;
  border:none;
}
.contactLists{
  height:calc(90vh - 110px);
  overflow: scroll;
}
.contactNames{
  width:calc(100% - 35px);
  display:inline-block;
  vertical-align:top;
}
.contactNames ul{
  padding:0px;
  margin:0px;
  width:100%;
  list-style-type:none;
}
.contactNames ul li a.cNames{
  display:inline-block;
  width:calc(100% - 30px);
  vertical-align:top;
  padding:3px 15px;
  cursor:pointer;
}
.contactNames ul li:hover a.cNames{
  background-color:#fcbab1;
}
.alphabetLists{
  background-color:#f2f2f2;
  width:15px;
  margin-left:10px;
  margin-top:5px;
  border-radius:15px;
  padding:5px 0px;
  height:calc(100% - 120px);
  overflow:auto;
  position: fixed;

}
.alphabetLists ul{
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.alphabetLists ul li a{
  display:inline-block;
  padding:4px;
  text-align:center; 
  width:100%;
  color:#999999;
  font-size:12px;
  cursor:pointer;
}
.alphabetLists ul li.active a{
  background-color:#1b88f1;
  color:#FFFFFF;
  border-radius:10px;
}
.cNames .profileImg{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  text-align: center;
  padding: 1px;
  color: #000000;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
.cNames img{
  height:30px;
  width:30px;
  border-radius:15px;
  overflow:hidden;
}
.cNames span{display:inline-block;  position:relative; top:6px; padding-left:10px;font-size:14px;
color:#000000;
  width:150px;
  white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis; 
}
.contactSort{
  width:30px;
  display:inline-block;
  vertical-align:top;
  position:fixed;
}
.searchBarCont{
  position:relative;

}
.searchBarCont a{
  position:absolute;
  right:15px;
  top:10px;
}
.closeContacts{
  position:absolute;
  right:10px;
}
.contPopup{
  position: fixed;
  z-index:1000;
  background-color:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contPopup .innerBox{
  width:500px;
  height:auto;
  padding:40px 30px;
  background-color:#FFFFFF;
  box-shadow:0px 0px 5px rgba(0,0,0,0.1);
  border-radius:5px;
  text-align:center;
  position:relative;
}
.contPopup .innerBox h3{
  font-size:32px; margin-bottom:10px; padding:0px;
}
.contPopup .closePopup{
  position:absolute;
  top:15px;
  right:15px;
}
.contPopup .innerBox p{ font-size:18px; margin:0px; padding:0px;}

.ProfileImage{
  width:160px;
  height:160px;
  margin:0px auto;
  border-radius:80px;
  overflow: hidden;
}
.ProfileImage img{width:100%; height:100%;}
.contactSort{
  position: inherit!important;
  }
   
  /* width */
  ::-webkit-scrollbar {
  width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset005pxgrey;
  border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  }
  .contactNames{
  height: 100%;
  overflow: scroll;
  }
  