<h2>Minhas Reservas</h2>

<div *ngFor="let reservation of reservations" class="feed__item">
    <div class="feed__content">
        <div class="row">
            <div class="col-sm-4 resource__item__img " [ngStyle]="{ 'background-image' : 'url(\'' + reservation.resource_photo_url + '\')' }"></div>
            <div class="col-sm-8">
                <div class="feed__title__container">
                    {{ reservation.resource_name }}
                </div>

                <div class="feed__item__date">
                    Reservado de {{ reservation.start_datetime | date:'dd/MM/yy HH:mm' }}
                    às {{ reservation.finish_datetime | date:'dd/MM/yy HH:mm' }}
                </div>

                <div style="margin-top: 8px;">
                    <a class="btn btn-danger" (click)="confirmCancel(reservation)">Cancelar Reserva</a>
                </div>
            </div>
        </div>
    </div>
</div>
