<div class="profile__details profile__details--password">
    <form [formGroup]="resetPass" (ngSubmit)="newPassword(resetPass.value)" novalidate>
        <label class="profile__label">
            Digite a nova senha
            <input formControlName="password" type="password" class="profile__input">
        </label>
        <label [ngClass]="{ 'profile__form--error': resetPass.errors }"
            class="profile__label">
            Confirme a nova senha
            <input formControlName="password1" type="password" class="profile__input">
            <strong *ngIf="resetPass.errors">As senhas não são iguais!</strong>
        </label>

        <div class="profile__detail">
            <button
                [disabled]="!resetPass.valid"
                type="submit"
                class="profile__control profile__control--save">
                Trocar senha <i *ngIf="spinner" class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
            </button>
            <a (click)="back()" class="profile__control profile__control--cancel">Cancelar</a>
        </div>
    </form>
</div>
