<div class="row">
    <div class="col-md-3">
        <img [src]="resource?.photo_url" class="img-responsive" />
        <h3>{{ resource?.name }}</h3>
        <p>{{ resource?.description }}</p>
    </div>
    <div class="col-md-9">
        <h3>Reservas</h3>
        <p class="text-muted">Clique em um horário para criar uma reserva</p>
        <p-schedule (onDayClick)="onDayClick($event)" [businessHours]="businessHours" [allDaySlot]="false" (onViewRender)="loadReservations($event)" [events]="events" defaultView="agendaWeek"></p-schedule>
    </div>
</div>

<ng-template #reserveModal>
    <div class="modal-header">
        <h4 class="modal-title">Reservar</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <strong>Data</strong> {{ selectedDate | date:'dd/MM/yy' }}
        <div class="form-group"><br />
            <label for="start_time">Início</label><br/>
            <p-calendar id="start_time" [timeOnly]="true" [(ngModel)]="startDate" [style]="{'width' : '100px'}"></p-calendar>
        </div>
        <div>
            <label for="end_time">Fim</label><br/>
            <p-calendar id="end_time" [timeOnly]="true" [(ngModel)]="endDate"></p-calendar>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancelar</button>
        <input type="button" class="btn btn-primary" value="Reservar" (click)="doReserve()" />
    </div>
</div>
