<h2>Minhas Mensagens</h2>

<div class="" [ngClass]="{'notification--open' : show }">
    <a
        *ngFor="let message of messages"
        [ngClass]="{ 'notification__item--unread': message.changed_admin == '1' }"
        (click)="openMessage(message)"
        class="notification__item">
        <span class="notification__icon icon-chat"></span>
        {{ message.subject }} - {{message.created_at | date:'dd/MM/yy HH:mm'}}
    </a>
</div>
