<div class="menu-login">
    <img src="{{ headerLogoUrl }}" />
</div>

<div class="form--login">
    <div class="text-center buttons">
        <a href="{{ samlUrl }}" class="lbtn lbtn-primary">Profissional</a>
        <a [routerLink]="['/login/local']" class="lbtn lbtn-secondary">Usuário Externo</a>
    </div>
</div>

<footer class="footer footer--feed container">
    <div class="text-center">
        <img src="{{ footerLogoUrl }}" style="height: 53px" />
    </div>
</footer>
