.problemas-login {
    /* Problemas no login? Clique aqui. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 1.00;
    padding: 10px;
}

.esqueceu-senha {
    /* Esqueceu seu usuário ou senha? Clique aqui. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #BDBDBD;
    opacity: 1.00;
    margin-top: 35px

}

.entre-seus-dados {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 100%;
    color: #828282;
    opacity: 1.00;
    margin-top: 100px;
    margin-bottom: 50px
}

.login {
    /* Rectangle 57 */
    background: #FAFAFA;
    opacity: 1.00;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}


.botao {
    background: #6CB978;
    opacity: 1.00;
    border-radius: 3px;
    margin-top: 15px;
    width: 60%
}

.botao-entrar {
    /* Entrar */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 1.00;

}


.id-user {
    /* ID/User */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #BDBDBD;
    opacity: 1.00;

}
