<div class="menu-login">
    <img src="{{ headerLogoUrl }}" />
</div>

<div class="form form--login">
    <form class="form__container" [formGroup]="form" (ngSubmit)="login(form.value)" novalidate>
        <h1 class="form__title">
            Entre com seus dados abaixo
        </h1>
        <div class="form__item">
            <input formControlName="email" class="form__input" type="text" placeholder="Username/e-mail">
        </div>
        <div class="form__item">
            <input formControlName="password" class="form__input" type="password" placeholder="Senha">
        </div>
        <div class="form__item">
            <div class="form__submit-container">
                <input [disabled]="!form.valid" class="form__submit" type="submit">
            </div>
        </div>
        <div class="form__item">
            <a (click)="showResetPass()" class="form__link">Esqueceu seu usuário ou senha?<br>Clique aqui</a>
        </div>
    </form>
</div>

<footer class="footer footer--feed container">
    <div class="text-center">
        <img src="{{ footerLogoUrl }}" style="height: 53px" />
    </div>
</footer>

<div class="modal fade" id="resetPass" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Trocar Senha</h4>
      </div>
      <div class="modal-body">
        <p>Ao clicar em alterar senha, um email sera enviado para EMAIL, contendo as instruções para alterar a sua senha. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Trocar senha</button>
      </div>
    </div>
  </div>
</div>
