.login-container {
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 90px;
    height: 100%;
    background-color: black;
}

.lbtn {
    display: block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 16px auto 0;
    border-radius: 0;
}

.lbtn-primary {
    background-color: #00a2e0;
    border: 1px solid #00a2e0;
}

.lbtn-secondary {
    background-color: black;
    border: 1px solid white;
}

.lbtn-primary:hover, .lbtn-secondary:hover {
    color: white;
}
