<div class="event__bg">
     <!--<div class="event__cover event__cover--color"></div>-->
    <!--<div class="event__cover event__cover--img" style="background-image: url(assets/img/feed__cover--2.jpg)"></div>-->
    <div class="event__cover event__cover--img" [style.background-image]="imageUrl(event.image_id)"></div>
</div>
<div class="event">
    <div class="event__container">
        <div class="event__details">
            <div class="event__date">
                <div class="event__day">{{ event.start_date | date: 'd' }}</div>
                <div class="event__month">{{ event.start_date | date: 'MMMM' }}</div>
            </div>

            <div class="event__title">
                {{ event.name }}
            </div>
            <div class="event__location">
                <div class="event__address">
                    <div class="event__icon icon-address"></div>
                     {{ event.location }}
                </div>
                <div class="event__time">
                    <div class="event__icon icon-time"></div>
                    <span *ngIf="isSameDay">{{ event.start_date | date: 'H:mm' }} até {{ event.end_date | date: 'H:mm' }}</span>
                    <span *ngIf="!isSameDay">{{ event.start_date | date: 'd/MM H:mm' }} até {{ event.end_date | date: 'd/MM H:mm' }}</span>
                </div>
            </div>
            <div class="event__summary">
                <div class="event__summary-title">
                     {{ event.name }}
                </div>
                <div class="event__summary-text" [innerHTML]="event.description"></div>

                <a href="https://api.worksphere.com.br/api/event/{{event.id}}?ics&key={{accessToken}}" target="_blank" class="event__button">Adicionar à minha agenda</a>
            </div>
        </div>
    </div>
</div>
