.perfil {

    background: url('../../../assets/img/bridge.png');
    background-size: cover;
    opacity: 1.00;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ver-perfil {
    /* Rectangle 2 */
    background: #76BD81;
    opacity: 1.00;

}

.user-name {
    /* Laura Machado */
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #78D086;
    opacity: 1.00;

}


.cargo {
    /* Assistente de Marketing */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 1.00;

}

.primary {
    background-color: #78D086;
    opacity: 1.00;
}


.secondary {
    background-color: #569D62;
    opacity: 1.00;
}

.nav i {
    font-size: 16px;
    color: #ffffff
}
/*
a:hover {
    background-color: #569D62 !important
}*/

ul div a {

    /* Notícias */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 1.00;
}
.nav p {

    /* Notícias */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 1.00;
}


.social {
    /* @lmachado */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    color: #B3B3B3;
    opacity: 1.00;
}


.img-circle {
    height: 90px;
    width: 90px;
    border-style: solid;
    border-width: 4px;
    border-color: #78D086
}

.list-group {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2B2B2B;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
}

.list-group a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


