<div class="navigation">
    <div class="navigation__profile" [ngStyle]="{ 'background-image' : 'url(\'' + userInfo.user_background_url + '\')' }">
        <img class="navigation__avatar" src="{{ userInfo.user_photo_url }}">
        <div class="navigation__name">{{ userInfo.name }}</div>
        <div class="navigation__job" *ngIf="userInfo.extra_field1.enabled">{{ userInfo.extra_field1.value }}</div>

        <a
            [routerLink]="['/perfil', userInfo.id ]"
            class="navigation__profile-btn" menuIn>
            <span class="navigation__icon icon-view" aria-hidden="true"></span>
            Ver perfil</a>
    </div>
    <div class="navigation__items">

        <div class="navigation__item navigation__item__feed">
            <a [routerLink]="['/home']" class="navigation__link navigation__link--feed" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.feed_icon_url }}" />
                </span>
                {{ mainMenu.feed_caption }}
            </a>
        </div>

        <div class="navigation__item">
            <a href=".navigation__news" class="navigation__link" data-toggle="collapse">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.news_icon_url }}" />
                </span>
                {{ mainMenu.news_caption }}
                <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true"></span>
            </a>
            <div class="navigation__subnav navigation__subnav--level1 navigation__news collapse">
                <a
                    *ngFor="let category of mainMenu.categories"
                    menuIn
                    [routerLink]="['/news/category', category.id]"
                    class="navigation__link navigation__link--level1">
                    <span class="navigation__icon" aria-hidden="true">
                        <img src="{{ category.icon_url }}" />
                    </span>
                    {{ category.name }}
                </a>
            </div>
        </div>

        <div class="navigation__item" *ngFor="let menu of mainMenu.menus">
            <a href=".menu__{{ menu.id }}" class="navigation__link" data-toggle="collapse">
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ menu.icon_url }}" />
                </span>
                {{ menu.name }}
                <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true"></span>
            </a>
            <div class="navigation__subnav navigation__subnav--level1 navigation__forum menu__{{ menu.id }} collapse">
                <a
                    *ngFor="let page of menu.pages"
                    menuIn
                    href="{{ page.url }}?key={{ token }}" target="_blank"
                    class="navigation__link navigation__link--level1">
                    <span class="navigation__icon" aria-hidden="true">
                        <img src="{{ page.icon_url }}" />
                    </span> {{ page.title }}
                </a>

                <a
                    *ngFor="let sub of menu.submenus"
                    menuIn
                    href=".{{ sub.name }}" class="navigation__link navigation__link--level1" data-toggle="collapse">
                    <span class="navigation__icon" aria-hidden="true">
                        <img src="{{ sub.icon_url }}" />
                    </span> {{ sub.name }}
                    <span class="navigation__icon navigation__icon--small icon-triangle" aria-hidden="true"></span>
                </a>

                <div class="navigation__subnav navigation__subnav--level2 navigation__sections collapse">
                    <a
                        *ngFor="let subPages of menu.submenus"
                        menuIn
                        class="navigation__link navigation__link--level2 {{ subPages.name }}">
                        <span class="navigation__icon icon-circle" aria-hidden="true"></span> {{ subPages.name }}
                    </a>

                </div>

            </div>
        </div>

        <div class="navigation__item">
            <a [routerLink]="['/calendar']" class="navigation__link" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.events_icon_url }}" />
                </span>
                {{ mainMenu.events_caption }}
            </a>
        </div>

        <div class="navigation__item" *ngIf="mainMenu.message_enabled">
            <a [routerLink]="['/contactus']" class="navigation__link" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.message_icon_url }}" />
                </span>
                {{ mainMenu.message_caption }}
            </a>
        </div>

        <div class="navigation__item" *ngIf="mainMenu.suggestion_enabled">
            <a [routerLink]="['/suggestion']"   class="navigation__link" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.suggestion_icon_url }}" />
                </span>
                {{ mainMenu.suggestion_caption }}
            </a>
        </div>

        <div class="navigation__item" *ngIf="mainMenu.terms_enabled">
            <a [routerLink]="['/terms']" class="navigation__link" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.terms_icon_url }}" />
                </span>
                {{ mainMenu.terms_caption }}
            </a>
        </div>

        <div class="navigation__item" *ngIf="mainMenu.about_enabled">
            <a [routerLink]="['/about']" class="navigation__link" menuIn>
                <span class="navigation__icon" aria-hidden="true">
                    <img src="{{ mainMenu.about_icon_url }}" />
                </span>
                {{ mainMenu.about_caption }}
            </a>
        </div>

    </div>
</div>
