<carousel class="feed__items carousel-inner" role="listbox" [noPause]="false" [interval]="myInterval" [noWrap]="noWrapSlides">
    <slide *ngFor="let page of pages">
        <div id="feed__slider" class="feed__slider2 carousel slide" data-ride="carousel">
            <div class="feed__items carousel-inner" role="listbox">
                <div
                    class="feed__item item active">
                    <div class="feed__content row">
                        <div [routerLink]="['/news', page.first.id]" class="col-sm-8 feed__item__primary" [ngStyle]="{'background': 'linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(\'' + page.first.feature_image_url + '\'), no-repeat', 'background-size' : 'cover', 'cursor' : 'pointer' }">
                            <span class="feed__category feed__category__primary" [style.background-color]="page.first.color">{{ page.first.category }}</span>
                            <a [routerLink]="['/news', page.first.id]" class="feed__title feed__title__primary">{{ page.first.title }}</a>
                            <div class="feed__date__primary">{{ page.first.publish_date | date }}</div>
                            <div class="feed__metrics feed__metrics__primary">
                                <a *ngIf="page.first.views_enabled" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ page.first.views_count }}</a>
                                <a *ngIf="page.first.likes_enabled" class="feed__metric feed__metric--likes"  (click)="likeByNews(page.first)">
                                    <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ page.first.likes_count | number }}
                                    <span *ngIf="page.first.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                </a>
                                <a *ngIf="page.first.comments_enabled" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ page.first.comments_count | number }}</a>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding: 0">
                            <div [routerLink]="['/news', page.second.id]" class="feed__item__secondary" [ngStyle]="{'background': 'linear-gradient(180deg, rgba(0, 0, 0, 0) 25.94%, rgba(0, 0, 0, 0.92) 100%), url(\'' + page.second.feature_image_url + '\'), no-repeat', 'background-size' : 'cover', 'cursor' : 'pointer' }" *ngIf="page.second">
                                <span class="feed__category feed__category__secondary" [style.background-color]="page.second.color">{{ page.second.category }}</span>
                                <a [routerLink]="['/news', page.second.id]" class="feed__title feed__title__secondary">{{ page.second.title }}</a>
                                <div class="feed__date__secondary">{{ page.second.publish_date | date }}</div>
                                <div class="feed__metrics feed__metrics__secondary">
                                    <a *ngIf="page.second.views_enabled" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ page.second.views_count }}</a>
                                    <a *ngIf="page.second.likes_enabled" class="feed__metric feed__metric--likes"  (click)="likeByNews(page.second)">
                                        <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ page.second.likes_count | number }}
                                        <span *ngIf="page.second.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                    </a>
                                    <a *ngIf="page.second.comments_enabled" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ page.second.comments_count | number }}</a>
                                </div>
                            </div>

                            <div [routerLink]="['/news', page.third.id]" class="feed__item__secondary" [ngStyle]="{'background': 'linear-gradient(180deg, rgba(0, 0, 0, 0) 25.94%, rgba(0, 0, 0, 0.92) 100%), url(\'' + page.third.feature_image_url + '\'), no-repeat', 'background-size' : 'cover', 'cursor' : 'pointer' }" *ngIf="page.third">
                                <span class="feed__category feed__category__secondary" [style.background-color]="page.third.color">{{ page.third.category }}</span>
                                <a [routerLink]="['/news', page.third.id]" class="feed__title feed__title__secondary">{{ page.third.title }}</a>
                                <div class="feed__date__secondary">{{ page.third.publish_date | date }}</div>
                                <div class="feed__metrics feed__metrics__secondary">
                                    <a *ngIf="page.third.views_enabled" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ page.third.views_count }}</a>
                                    <a *ngIf="page.third.likes_enabled" class="feed__metric feed__metric--likes" (click)="likeByNews(page.third)">
                                        <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ page.third.likes_count | number }}
                                        <span *ngIf="page.third.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                    </a>
                                    <a *ngIf="page.third.comments_enabled" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ page.third.comments_count | number }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </slide>
</carousel>
