<h2>Detalhes da mensagem</h2>

<div class="row">
    <div class="message-original">
        &quot; {{message.subject}} &quot;
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h3>Mensagens de respostas ( {{replies.length}} )</h3>
    </div>
    <div class="col-md-3" class="btn-new-message" *ngIf="message.allow_reply == '1'">
        <a class="btn btn-primary" [routerLink]="['/contactus/message-reply', message.id]">Nova mensagem</a>
    </div>
</div>

<br>

<div class="row">

    <div class="alert-warning" *ngIf="replies.length === 0">
        Nenhuma mensagem de resposta
    </div>

    <ul class="chat">
        <li class="message" *ngFor="let msg of replies">
            <div [ngClass]="(msg.from == 'user')?'from_user':'from_admin'" class="item">
                <p>
                    <b>{{msg.user_name}}</b>
                </p>
                <p class="text">
                    {{ msg.message }}
                </p>
                <div class="at">
                    <div *ngIf="msg.from == 'user'" class="status_{{msg.status}}"></div>
                    {{msg.created_at | date:'dd/MM/yy HH:mm'}}
                </div>
            </div>
        </li>
    </ul>

</div>