.message-original {
    text-align: center;
    font-style: italic;
    color: #666;
    padding: 10px;
}

.alert-warning {
    padding: 10px;
}

.btn-new-message {
    display: flex;
    justify-content: flex-end
}

.btn-new-message a {
    margin-top: 12px;
}

/* Chat messages */
.chat {
    list-style: none;
    padding: 0px;
    display: table;
}

.chat .message {
    width: 100%;
}

.chat .message .item {
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin: 0px 0px 15px 0px;
    text-align: left;
    color: #666;
}

.chat .message .item .text {
    font-size: 16px;
    padding: 0px;
}

.chat .message .item .at {
    font-style: italic;
}

.chat .message .item .status_0, .chat .message .item .status_1 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url('status.png');
}

.chat .message .item .status_0 {
    background-position: 40px;
}

.chat .message .item .status_1 {
    background-position: 60px;
}

.chat .message .from_admin {
    background: #efefef;
    float: left;
}

.chat .message .from_user {
    background: #daefff;
    padding-right: 0px;
    float: right;
}