<div class="feed">
    <div class="feed__container">
        <div *ngIf="!loading && allNews.length == 0" class="feed__empty">
            Nenhuma notícia encontrada.
        </div>

        <!-- Noticias -->
        <div class="col-sm-8">
            <div  *ngFor="let news of allNews"
                class="feed__item">
                <div class="feed__content">
                    <div class="row">
                        <div class="col-sm-6 feed__item__img" [routerLink]="['/news', news.id]" [ngStyle]="{ 'background-image' : 'url(\'' + news.feature_image_url + '\')', 'cursor': 'pointer' }"></div>

                        <div class="col-sm-6">
                            <div class="feed__flag" *ngIf="!news.unread">Nova</div>
                            <div class="feed__category" [style.background-color]="news.color">  {{ news.category }}</div>

                            <div class="feed__item__date">
                                {{ news.publish_date | date }}
                            </div>

                            <div class="feed__title__container">
                                <a class="feed__title" [routerLink]="['/news', news.id]">
                                    {{ news.title }}
                                </a>
                            </div>

                            <div class="feed__metrics">
                                <a *ngIf="news.views_enabled && news.views_count != 0" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ news.views_count }}</a>
                                <a *ngIf="news.likes_enabled" (click)="likeByNews(news)" class="feed__metric feed__metric--likes">
                                    <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ news.likes_count | number }}
                                    <span *ngIf="news.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                </a>
                                <a *ngIf="news.comments_enabled && news.comments_count != 0" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ news.comments_count | number }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
