<div class="feed feed__single">
    <div class="feed__container">
        <div class="feed__item" [ngStyle]="{ 'background' : 'linear-gradient(180deg, rgba(0, 0, 0, 0.15) 55.5%, rgba(0, 0, 0, 0.96) 100%), url(\'' + news.feature_image_url + '\'), no-repeat', 'background-size' : 'cover', 'background-position' : 'center' }" >
            <div class="feed__single__header">
                <div class="text-center">
                    <div class="feed__category" style="margin: 0 auto" [style.background-color]="news.color">{{ news.category.name }}</div>
                </div>
                <div class="feed__title" style="margin: 0 auto; padding: 24px" >{{ news.title }}</div>
                <div class="feed__metrics">
                    <span *ngIf="news.views_enabled && news.views_count != 0" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ news.views_count }}</span>
                    <span *ngIf="news.likes_enabled && !spinner" (click)="likeByNewsId(news)" class="feed__metric feed__metric--likes"><span class="feed__icon icon-heart" aria-hidden="true"></span> {{ news.likes_count | number }}</span>
                    <span *ngIf="spinner" class="feed__metric feed__metric--likes"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i> </span>
                    <span *ngIf="news.comments_enabled && news.comments_count != 0" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ news.comments_count | number }}</span>
                </div>
                <div class="feed__date">Publicado em <b>{{ news.publish_date | date}}</b></div>
                <div *ngIf="news.show_author" class="feed__author">Por <b>{{ news.author.name }}</b></div>
            </div>
        </div>
        <div class="text">
            <div class="text__container">
                <div class="text__item" >
                    <div class="text__box">
                        <div class="text__content" [innerHTML]="news.description"></div>
                        <div class="text__metrics">
                            <span *ngIf="news.likes_enabled && !spinner" (click)="likeByNewsId(news)" class="text__metric text__metric--likes"><span class="feed__icon icon-heart" aria-hidden="true"></span> {{ news.likes_count | number }}</span>
                            <span *ngIf="spinner" class="text__metric text__metric--likes"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i> </span>
                            <a *ngIf="news.comments_enabled" class="text__metric text__metric--comments"><span class="text__icon icon-comment" aria-hidden="true"></span> {{ news.comments_count | number }}</a>
                            <a *ngIf="news.views_enabled" class="text__metric text__metric--views"><span class="text__icon icon-view" aria-hidden="true"></span> {{ news.views_count | number }}</a>
                        </div>
                        <div class="comments" *ngIf="news.comments_enabled">
                            <div class="comments__title">
                                {{ comments?.length || 0 }} comentários
                            </div>
                            <div class="comments__item" *ngFor="let comment of comments;  let i = index">
                                <img src="https://api.worksphere.com.br/api/user/{{ comment.user_id }}/picture" alt="" class="comments__avatar">
                                <div class="comments__author">
                                    {{ comment.user }}
                                    <span class="comments__date">{{ comment.date | date: "dd/MM 'às' hh:mm'"}}</span>
                                </div>
                                <div class="comments__text" [innerHTML]="comment.text">

                                </div>
                                <div class="comments__controls">
                                    <a (click)="removeComment(comment, i)" class="comments__control" *ngIf="comment.user_id == userId">Excluir</a>
                                    <a class="comments__control" *ngIf="comment.user_id == userId" (click)="comment.editing = !comment.editing">Editar</a>
                                    <a *ngIf="news.comments_likes_enabled" (click)="likes(comment, i)" class="comments__control">Curtir</a>
                                    <a class="comments__control" (click)="toggleReply(comment)">Responder</a>
                                    <span class="comments__metric">
									    <span class="comments__icon icon-heart" aria-hidden="true"></span> {{ comment.likes_count }}
                                    </span>
                                    <span class="comments__metric">
									    <span class="comments__icon icon-reply-left" aria-hidden="true"></span> {{ comment.replies.length }}
                                    </span>
                                </div>
                                <div class="comments__edit" *ngIf="comment.editing">
                                    <form (ngSubmit)="editComment(comment)" novalidate class="comments__form">
                                        <div class="comments__title"> Alterar: </div>
                                        <textarea
                                            class="comments__textarea"
                                            cols="30"
                                            rows="10"
                                            name="text"
                                            [(ngModel)]="comment.text"
                                            placeholder="Digite aqui seu comentário">
                                    </textarea>

                                        <button
                                            [disabled]="comment.text.length == 0"
                                            type="submit" class="comments__button">
                                            Alterar comentário <i *ngIf="comment.spinner" class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                                        </button>
                                    </form>
                                </div>

                                <form *ngIf="comment.replying" [formGroup]="replyForm" (ngSubmit)="newReply(comment, replyForm.value)" novalidate class="comments__form">
                                    <div class="comments__title"> Responder: </div>
                                    <textarea
                                        class="comments__textarea"
                                        formControlName="text"
                                        cols="30"
                                        rows="5"
                                        placeholder="Digite aqui sua resposta">
                                    </textarea>

                                    <button
                                        [disabled]="!replyForm.valid"
                                        type="submit" class="comments__button">
                                        Enviar resposta <i *ngIf="spinner" class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                                    </button>
                                </form>

                                <div class="comments__item comments__item--level1" *ngFor="let reply of comment.replies; let j = index">
                                    <span class="comments__icon-bg icon-reply-right" aria-hidden="true" *ngIf="i == 0"></span>
                                    <img src="https://api.worksphere.com.br/api/user/{{ reply.user_id }}/picture" alt="" class="comments__avatar">
                                    <div class="comments__author">
                                        {{ reply.user }}
                                        <span class="comments__date">{{ reply.date | date }}</span>
                                    </div>
                                    <div class="comments__text" [innerHTML]="reply.text">

                                    </div>
                                    <div class="comments__controls">
                                        <a class="comments__control" (click)="removeComment(reply, j, comment)" *ngIf="reply.user_id == userId">Excluir</a>
                                        <a class="comments__control" *ngIf="reply.user_id == userId" (click)="reply.editing = !reply.editing">Editar</a>
                                        <a class="comments__control" *ngIf="news.comments_likes_enabled" (click)="likes(reply, i)">Curtir</a>
                                        <span class="comments__metric">
											<span class="comments__icon icon-heart" aria-hidden="true"></span> {{ reply.likes_count }}
                                    </span>
                                    </div>
                                    <div class="comments__edit" *ngIf="reply.editing">
                                        <form (ngSubmit)="editComment(reply)" novalidate class="comments__form">
                                            <div class="comments__title"> Alterar: </div>
                                            <textarea
                                                class="comments__textarea"
                                                cols="30"
                                                rows="10"
                                                name="text"
                                                [(ngModel)]="reply.text"
                                                placeholder="Digite aqui sua resposta">
                                            </textarea>

                                            <button
                                                [disabled]="reply.text.length == 0"
                                                type="submit" class="comments__button">
                                                Alterar resposta <i *ngIf="reply.spinner" class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                                <form [formGroup]="commentsForm" (ngSubmit)="newComment(commentsForm.value)" novalidate class="comments__form">
                                    <div class="comments__title"> Comentar: </div>
                                    <textarea
                                        class="comments__textarea"
                                        formControlName="text"
                                        cols="30"
                                        rows="10"
                                        placeholder="Digite aqui seu comentário">
                                    </textarea>

                                    <label *ngIf="news.media_comments_enabled">
                                        Adicionar Foto/Vídeo
                                        <input type="file" name="media" accept="image/*,video/*" formControlName="media" (change)="handleFileInput($event.target.files)" />
                                    </label>

                                    <label *ngIf="news.anon_comments_enabled">
                                        <input type="checkbox" formControlName="anon" value="1" />
                                        Enviar como anônimo
                                    </label>

                                    <button
                                        [disabled]="!commentsForm.valid"
                                        type="submit" class="comments__button">
                                        Enviar comentário <i *ngIf="spinner" class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                                    </button>
                                </form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

