<app-menu-bar [logoUrl]="headerLogoUrl"></app-menu-bar>

<div (click)="closeMenu()" class="container main">
    <router-outlet></router-outlet>
</div>

<app-footer [logUrl]="footerLogoUrl"></app-footer>