.contactListCont{
  width:300px;
  height:calc(100% - 96px);
  position:fixed;
  right:0px;
  background-color:#FFFFFF;
  top:96px;
  z-index:1000;
  box-shadow:0px -4px 10px rgba(0,0,0,0.1);
}

.clHeader{
  background-color:#343434;
  color:#FFFFFF;
  font-size:16px;
  padding:8px 15px;
}

.contactListCont .searchBox{
  width:100%;
  padding:10px 15px;
  background-color:#F0F0F0;
  color:#666666;
  border:none;
}
.contactLists{
  height:calc(100vh - 110px);
  overflow: scroll;
}
.contactNames{
  width:calc(100% - 35px);
  display:inline-block;
  vertical-align:top;
}
.contactNames ul{
  padding:0px;
  margin:0px;
  width:100%;
  list-style-type:none;
}
.contactNames ul li a.cNames{
  display:inline-block;
  width:calc(100% - 30px);
  vertical-align:top;
  padding:3px 15px;
  cursor:pointer;
}
.contactNames ul li:hover a.cNames{
  background-color:#fcbab1;
}
.alphabetLists{
  background-color:#f2f2f2;
  width:15px;
  margin-left:10px;
  margin-top:5px;
  border-radius:15px;
  padding:5px 0px;
  height:calc(100% - 120px);
  overflow:auto;

}
.alphabetLists ul{
  padding:0px;
  margin:0px;
  list-style-type:none;

}
.alphabetLists ul li a{
  display:inline-block;
  padding:0px;
  text-align:center; 
  width:100%;
  color:#999999;
  font-size:10px;
  cursor:pointer;
}
.alphabetLists ul li.active a{
  background-color:#1b88f1;
  color:#FFFFFF;
  border-radius:10px;
}
.cNames .profileImg{
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  text-align: center;
  padding: 1px;
  color: #000000;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
.cNames img{
  height:30px;
  width:30px;
  border-radius:15px;
  overflow:hidden;
}
.cNames span{display:inline-block;  position:relative; top:6px; padding-left:10px;font-size:14px;
color:#000000;
  width:150px;
  white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis; 
}
.contactSort{
  width:30px;
  display:inline-block;
  vertical-align:top;
  position:fixed;
}
.searchBarCont{
  position:relative;

}
.searchBarCont a{
  position:absolute;
  right:15px;
  top:10px;
}
.closeContacts{
  position:absolute;
  right:10px;
}
.contPopup{
  position: fixed;
  z-index:1000;
  background-color:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contPopup .innerBox{
  width:500px;
  height:auto;
  padding:40px 30px;
  background-color:#FFFFFF;
  box-shadow:0px 0px 5px rgba(0,0,0,0.1);
  border-radius:5px;
  text-align:center;
  position:relative;
}
.contPopup .innerBox h3{
  font-size:32px; margin-bottom:10px; padding:0px;
}
.contPopup .closePopup{
  position:absolute;
  top:15px;
  right:15px;
}
.contPopup .innerBox p{ font-size:18px; margin:0px; padding:0px;}

.ProfileImage{
  width:160px;
  height:160px;
  margin:0px auto;
  border-radius:80px;
  overflow: hidden;
}
.ProfileImage img{width:100%; height:100%;}
.contactSort{
  position: inherit!important;
  }
   
  /* width */
  ::-webkit-scrollbar {
  width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset005pxgrey;
  border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  }
  .contactNames{
  height: 510px;
  overflow: scroll;
  }
  