<div class="contact">
    <div class="contact__container">
        <div class="contact__content">
            <div class="contact__title">
                {{ isSuggestion ? userInfo?.suggestion_caption : userInfo?.message_caption }}
            </div>

            <h4 *ngIf="!isSuggestion">{{ userInfo?.message_description }}</h4>

            <form [formGroup]="form" (ngSubmit)="saveMessage(form.value)" class="contact__form">
                <div class="contact__item" *ngIf="!isSuggestion">
                    <div class="contact__select-wrapper">
                        <select class="contact__select" formControlName="category_id">
								<option *ngFor="let categorie of categories"
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
							</select>
                    </div>
                </div>

                <div class="contact__item">
                    <input formControlName="subject" type="text" class="contact__input" placeholder="Assunto">
                </div>

                <div class="contact__item" *ngIf="extraEnabled">
                    <input formControlName="extra" type="text" class="contact__input" [placeholder]="extraCaption">
                </div>

                <div class="contact__item">
                    <textarea formControlName="message" name="" id="" cols="30" rows="10" class="contact__textarea" placeholder="Mensagem"></textarea>
                </div>

                <div class="contact__photo" style="text-align: center">
                    <p-fileUpload mode="basic" name="file" url="" (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)" chooseLabel="Anexar uma foto" accept="image/*" #upload>

                    </p-fileUpload>
                </div>
                <div class="contact__control">
                    <button [disabled]="!form.valid || sending" type="submit" class="contact__button">
                        <span *ngIf="sending"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i> </span>
                        <span *ngIf="!sending">Enviar</span>
                        <span *ngIf="sending">Enviando</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<p-growl [value]="msgs"></p-growl>
