@import './assets/css/app.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.css';
@import '../node_modules/izitoast/dist/css/iziToast.css';
@import '../node_modules/sweetalert2/dist/sweetalert2.css';
@import '../node_modules/fullcalendar/dist/fullcalendar.css';

/* You can add global styles to this file, and also import other style files */

/* Spinner */
.alphabetLists ul{
    line-height: 1.2 !important;
    }
.spinner {
    font-size:300%;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index:10
}
.navbar-default .navbar-nav > li > a{
	color: #fff !important;
  }
.menu-bar {
	background-color: #002b6a !important;
   color: #ffffff !important;
  }
.ui-fileupload .ui-button {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px;
	margin-right: 15px;
	border: 0 !important;
	border-radius: 0;
}
.ui-fileupload .ui-button:hover, .ui-fileupload .ui-button:active, .ui-fileupload .ui-button:focus {
	color: white;
	background-image: linear-gradient(rgba(0,0,0,0.15) 0, rgba(0,0,0,0.15) 100%) !important;
}
