<div class="contact">
    <div class="contact__container">
        <div class="contact__content">
            <div class="contact__title">
                Termos de Uso
            </div>
            <div class="terms" [innerHtml]="termsHtml"></div>
            <div class="profile__controls" *ngIf="accept">
                <div class="profile__controls-container">
                    <a (click)="acceptTerms()" class="profile__control profile__control--save">ACEITO</a>
                    <a (click)="declineTerms()" class="profile__control profile__control--cancel">NÃO ACEITO</a>
                </div>
            </div>
        </div>
    </div>
</div>
