<div class="calendar">
    <div class="calendar__container">
        <div class="calendar__dates">

            <p-schedule
                [events]="events"
                [editable]="false"
                [header]="headerConfig"
                (onViewRender)="loadEvents($event)"
                (onEventClick)="handleEventClick($event)"
                locale="pt-br">
            </p-schedule>

        </div>

        <div class="calendar__list">
            <div class="calendar__title" *ngIf="oldEvents.length > 0">Eventos</div>
            <div class="calendar__item"  *ngFor="let next of oldEvents">
                <div class="calendar__date">
                    <div class="calendar__day">{{ next.start_date }}</div>
                    <div class="calendar__month">{{ next.start_date }}</div>
                </div>
                <div class="calendar__detail">
                    <div class="calendar__name">{{ next.name }}</div>
                    <a [routerLink]="['/calendar', next.id]" class="calendar__button"><span class="calendar__icon icon-view"></span> Ver detalhes</a>
                </div>
            </div>

            <div class="calendar__title" *ngIf="todayEvents.length > 0">Eventos de Hoje</div>
            <div class="calendar__item"  *ngFor="let next of todayEvents">
                <div class="calendar__date">
                    <div class="calendar__day">{{ next.start_date}}</div>
                    <div class="calendar__month">{{ next.start_date}}</div>
                </div>
                <div class="calendar__detail">
                    <div class="calendar__name">{{ next.name }}</div>
                    <a [routerLink]="['/calendar', next.id]" class="calendar__button"><span class="calendar__icon icon-view"></span> Ver detalhes</a>
                </div>
            </div>

            <div class="calendar__title" *ngIf="nextEvents.length > 0">Próximos Eventos</div>
            <div class="calendar__item"  *ngFor="let next of nextEvents">
                <div class="calendar__date">
                    <div class="calendar__day">{{ next.start_date }}</div>
                    <div class="calendar__month">{{ next.start_date }}</div>
                </div>
                <div class="calendar__detail">
                    <div class="calendar__name">{{ next.name }}</div>
                    <a [routerLink]="['/calendar', next.id]" class="calendar__button"><span class="calendar__icon icon-view"></span> Ver detalhes</a>
                </div>
            </div>
        </div>

    </div>
</div>
