
<div class="feed" >
    <div class="feed__container">
        <!-- Slider -->
        <app-carousel [news]="sliderNews"></app-carousel>
        <!-- / Slider -->

        <div class="row">
            <div class="col-md-8">
                <!-- Latest -->
                <div  *ngIf="portal.last_news_enabled">
                    <h4 class="news__latest">Notícias mais recentes</h4>

                    <div *ngFor="let news of latestNews"
                        class="feed__item row">

                        <div [routerLink]="['/news', news.id]" style="cursor: pointer" class="col-sm-6 feed__item__img" [ngStyle]="{ 'background-image' : 'url(\'' + news.feature_image_url + '\')' }">
                        </div>

                        <div class="col-sm-6">
                            <div class="feed__flag" *ngIf="!news.unread">Nova</div>
                            <div class="feed__category" [style.background-color]="news.color">  {{ news.category }}</div>
                            <div class="feed__item__date">
                                {{ news.publish_date | date }}
                            </div>
                            <div class="feed__title__container">
                                <a class="feed__title" [routerLink]="['/news', news.id]">
                                    {{ news.title }}
                                </a>
                            </div>
                            <div class="feed__metrics">
                                <a *ngIf="news.views_enabled && news.views_count != 0" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ news.views_count }}</a>
                                <a *ngIf="news.likes_enabled" (click)="likeByNews(news)" class="feed__metric feed__metric--likes">
                                    <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ news.likes_count | number }}
                                    <span *ngIf="news.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                </a>
                                <a *ngIf="news.comments_enabled && news.comments_count != 0" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ news.comments_count | number }}</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a [routerLink]="['/news/category/0']" class="btn btn-more">
                            <span class="icon-view btn-more-icon"></span>
                            Ver Mais
                        </a>
                    </div>
                </div>

                <!-- Popular -->
                <div *ngIf="portal.popular_news_enabled">
                    <h4 class="news__latest">Notícias mais lidas</h4>

                    <div class="row" style="margin: 0">
                        <div *ngFor="let news of popularNews; let i = index"
                             [attr.data-index]="i"
                             class="feed__item" [ngClass]="{'col-sm-12' : i == 0, 'col-sm-6' : i > 0, 'feed__item__small' : i > 0 }">
                            <div class="row">
                                <div [routerLink]="['/news', news.id]" class="col-sm-6 feed__item__img" [ngClass]="{ 'feed__item__img__small' : i > 0 }"  [ngStyle]="{ 'background-image' : 'url(\'' + news.feature_image_url + '\')', 'cursor' : 'pointer' }">
                                </div>

                                <div class="col-sm-6">
                                    <div class="feed__flag" *ngIf="!news.unread">Nova</div>
                                    <div class="feed__category" [ngClass]="{ 'feed__category__small' : i > 0 }" [style.background-color]="news.color">  {{ news.category }}</div>

                                    <div class="feed__item__date" *ngIf="i == 0">
                                        {{ news.publish_date | date }}
                                    </div>

                                    <div class="feed__title__container" [ngClass]="{ 'feed__title__container__small' : i > 0 }">
                                        <a class="feed__title" [ngClass]="{ 'feed__title__small' : i > 0 }" [routerLink]="['/news', news.id]">
                                            {{ news.title }}
                                        </a>
                                    </div>

                                    <div class="feed__metrics" *ngIf="i == 0">
                                        <a *ngIf="news.views_enabled && news.views_count != 0" class="feed__metric feed__metric--views"><span class="feed__icon icon-view" aria-hidden="true"></span> {{ news.views_count }}</a>
                                        <a *ngIf="news.likes_enabled" (click)="likeByNews(news)" class="feed__metric feed__metric--likes">
                                            <span class="feed__icon icon-heart" aria-hidden="true"></span> {{ news.likes_count | number }}
                                            <span *ngIf="news.spinner"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                                        </a>
                                        <a *ngIf="news.comments_enabled && news.comments_count != 0" class="feed__metric feed__metric--comments"><span class="feed__icon icon-comment" aria-hidden="true"></span> {{ news.comments_count | number }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a [routerLink]="['/news/category/-2']" class="btn btn-more">
                            <span class="icon-view btn-more-icon"></span>
                            Ver Mais
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="home-block"
                     *ngFor="let block of portal.blocks">
                    <h5>{{ block.title }}</h5>

                    <div *ngIf="block.type == 'next_events'">
                        <div *ngFor="let event of block.events" class="calendar__item">
                            <div class="calendar__date">
                                <div class="calendar__day">
                                    {{ event.start_date | date:'dd' }}
                                </div>
                                <div class="calendar__month">
                                    {{ event.start_date | date:'MMMM' }}
                                </div>
                            </div>

                            <div class="calendar__detail">
                                <h6 class="calendar__name">{{ event.name }}</h6>
                                <a [routerLink]="['/calendar', event.id]" class="calendar__button">
                                    <span class="calendar__icon icon-view"></span>
                                    Ver Detalhes
                                </a>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="block.type == 'news'">
                        <div *ngFor="let category of block.categories" class="block-item">
                            <img src="assets/img/circle.png" />
                            <a [routerLink]="['/news/category', category.id]">{{ category.name }}</a>
                        </div>
                    </div>

                    <div *ngIf="block.type == 'birthday' || block.type == 'anniversary'">
                        <div *ngFor="let user of block.users" class="block-item">
                            <div class="block-item-title">
                                <img src="/assets/img/circle.png" />
                                {{ user.name }} ({{ user.date | date:'dd/MM' }})
                            </div>
                            <div class="text-muted">
                                {{ user.extra }}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="block.type == 'custom'">
                        <div [innerHtml]="sanitize(block.content)"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
